div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.5rem;
  font-weight: 100;
  height: 20vh;
}

div a {
  font-size: 1rem;
  background-color: var(--fs-primary-color);
  color: #fff;
  border-radius: 10rem;
  padding: .7rem 1rem;
  margin: 1rem;
  opacity: .8;
}

div a:hover {
  opacity: 1;
}