<header>
  <div class="container">
    <a href="#" routerLink="/" class="logo">Food Store!</a>
    <nav>
      <ul>
        <li><a href="#" routerLink="/cart-page"><i class="fa-solid fa-cart-shopping fa-lg"></i></a></li>
      </ul>
    </nav>
  </div>
</header>
