header {
  background-color: var(--fs-background-color);
  padding: 0;
  border-bottom: 1px solid var(--fs-primary-color);
}

a {
  color: var(--fs-primary-color);
}

a:hover {
  background-color: var(--fs-primary-color);
  color: #fff;
}

.container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

a.logo {
  font-weight: bold;
  padding: 1em;
}

nav ul {
  list-style-type: none;
  margin: 0;
}

nav ul li a {
  padding: 1em;
  display: inline-block;
}