div {
  display: flex;
  flex-wrap: wrap;
}

div a {
  background-color: var(--fs-secondary-color-soft);
  padding: .3rem 1rem;
  margin: .2rem .15rem;
  border-radius: 10rem;
  font-weight: 500;
  font-size: 16px;
  color: var(--fs-primary-color-dark)
}