@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@300;400;500;700&display=swap');

:root {
  --fs-background-color: #f3f5f8;
  --fs-border-color: rgb(226, 226, 226);
  --fs-primary-color: #e74646;
  --fs-primary-color-soft: #fa9884;
  --fs-secondary-color: #ffe5ca;
  --fs-secondary-color-soft: #fff3e2;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Noto Sans Thai', sans-serif;
  background-color: var(--fs-background-color);
  font-size: 18px;
}

a {
  text-decoration: none;
}