<app-search></app-search>
<app-tags></app-tags>
<app-not-found [visible]="!foods || foods.length <= 0" resetLinkText="รีเซ็ตการค้นหา"></app-not-found>
<ul>
  <li *ngFor="let food of foods">
    <a routerLink="/food/{{food.id}}">
      <img src="{{food.imageUrl}}" alt="">
      <div class="content">
        <div class="name">
          {{food.name}}
        </div>
        <span class="favorite {{food.favorite?'':'not'}}">
          <i class="fa-solid fa-heart"></i> 
        </span>
        <div class="stars">
          <star-rating 
            [value]="food.stars" 
            [totalstars]="5" 
            checkedcolor="red" 
            uncheckedcolor="black" 
            size="20px" 
            [readonly]="true">
          </star-rating>
        </div>
        <div class="product-item-footer">
          <div class="origins">
            <span *ngFor="let origin of food.origins">
              {{origin}}
            </span>
          </div>
          <div class="cook-time">
            <span><i class="fa-solid fa-clock"></i></span>
            {{food.cookTime}}
          </div>
        </div>
        <div class="price">
          <span>
            {{food.price|currency}}
          </span>
        </div>
      </div>
    </a> 
  </li>
</ul>
