<app-not-found [visible]="!food" notFoundMessage="ไม่พบสินค้า!" resetLinkText="กลับไปหน้าแรก"></app-not-found>
<div *ngIf="food" class="container">
  <img [src]="food.imageUrl" [alt]="food.name">

  <div class="details">
    <div class="header">
      <span class="name">
        {{food.name}}
      </span>
      <span class="favorite {{food.favorite? '': 'not'}}">
        <i class="fa-solid fa-heart"></i>
      </span>
    </div>
    <div class="rating">
      <star-rating
        [value]="food.stars"
        [totalstars]="5"
        checkedcolor="red"
        uncheckedcolor="black"
        size="30px"
        [readonly]="true"> 
      </star-rating>
    </div>
    <div class="origins">
      <span *ngFor="let orgin of food.origins">
        {{orgin}}
      </span>
    </div>
    <div class="tags">
      <app-tags [foodPageTags]="food.tags" justifyContent="start"></app-tags>
    </div>
    <div class="cook-time">
      <span>
        เวลาที่ใช้ในการทำอาหาร <strong>{{food.cookTime}}</strong> นาที
      </span>
    </div>
    <div class="price">
      <span>{{food.price|currency}}</span>
    </div>

    <button (click)="addToCart()">เพิ่มลงในตะกร้า</button>
  </div>
</div>
